body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  color: #212121;
  background: #FAFBFF;
  font-size: 14px;
  letter-spacing: 0.03em;
  margin: 0;
  padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.main {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main__menu-button {
  width: 50px;
  height: 50px;
  position: absolute;
  top: 21px;
  right: 25px;
  margin: 0;
  padding: 0;
  border: none;
  background-color: transparent;
  z-index: 200;
}
.main__menu-button .icon-close-menu {
  display: none;
}
.main__menu-button.is-opened .icon-close-menu {
  display: block;
}
.main__menu-button.is-opened .icon-menu {
  display: none;
}
.main__menu-button:hover, .main__menu-button:focus {
  fill: #9197B3;
}
@media screen and (min-width: 1200px) {
  .main__menu-button {
    display: none;
  }
}

.sidebar {
  position: absolute;
  -webkit-transform: translateX(-500px);
      -ms-transform: translateX(-500px);
          transform: translateX(-500px);
  -webkit-transition: 1s all;
  transition: 1s all;
  z-index: 20;
  background-color: #fff;
}
.sidebar.is-opened {
  -webkit-transform: translateX(0px);
      -ms-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: 1s all;
  transition: 1s all;
}
@media screen and (min-width: 1200px) {
  .sidebar {
    position: relative;
    -webkit-transform: translateX(0);
        -ms-transform: translateX(0);
            transform: translateX(0);
  }
}
.sidebar__back {
  height: 100vh;
  padding: 0px 30px;
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.sidebar__logo-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__logo-cont span {
  color: #838383;
  font-size: 10px;
}
.sidebar__logo {
  padding-top: 35px;
  margin-bottom: 50px;
  margin-right: 5px;
}
.sidebar__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  list-style: none;
  padding-left: 0;
}
.sidebar__list button {
  background-color: transparent;
  border: none;
  cursor: pointer;
  width: 250px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  color: #9197B3;
  padding: 10px;
  border-radius: 8px;
  font-size: 14px;
  margin-bottom: 10px;
}
.sidebar__list button span {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sidebar__list button:hover, .sidebar__list button:focus {
  background-color: #5932EA;
  color: #fff;
}
.sidebar__list button:hover .sidebar__icon, .sidebar__list button:focus .sidebar__icon {
  stroke: #fff;
}
.sidebar__list button:hover .sidebar__icon-fill, .sidebar__list button:focus .sidebar__icon-fill {
  stroke: #fff;
  fill: #fff;
}
.sidebar__list button:hover .sidebar__icon-arrow, .sidebar__list button:focus .sidebar__icon-arrow {
  stroke: #fff;
}
.sidebar__icon {
  max-width: 24px;
  height: 24px;
  margin-right: 15px;
  fill: transparent;
  stroke: #9197B3;
}
.sidebar__icon-fill {
  max-width: 24px;
  height: 24px;
  margin-right: 15px;
  fill: #9197B3;
  stroke: #9197B3;
}
.sidebar__icon-arrow {
  max-width: 16px;
  max-height: 16px;
  fill: transparent;
  stroke: #9197B3;
}
.sidebar__account-cont {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  padding-bottom: 75px;
}
.sidebar__account-cont img {
  max-width: 42px;
  max-height: 42px;
  margin-right: 10px;
}
.sidebar__account-cont h3 {
  margin-bottom: 5px;
  font-size: 14px;
}
.sidebar__account-cont p {
  color: #9197B3;
  font-size: 12px;
}

.customers {
  padding: 40px 70px;
  width: 100%;
  padding-bottom: 0;
}
@media screen and (min-width: 768px) {
  .customers {
    padding: 20px 15px;
  }
}
@media screen and (min-width: 1200px) {
  .customers {
    padding: 40px 70px;
  }
}
.customers h1 {
  font-size: 16px;
  margin-bottom: 40px;
}
@media screen and (min-width: 768px) {
  .customers h1 {
    font-size: 24px;
  }
}
.customers__cont {
  background-color: #fff;
  border-radius: 20px;
  padding: 30px 35px;
  width: 90%;
}
@media screen and (min-width: 1200px) {
  .customers__cont {
    width: auto;
  }
}
.customers__cont h2 {
  font-size: 14px;
  margin-bottom: 10px;
}
@media screen and (min-width: 768px) {
  .customers__cont h2 {
    font-size: 22px;
  }
}
.customers__cont p {
  font-size: 10px;
  color: #16C098;
  margin-bottom: 30px;
}
@media screen and (min-width: 768px) {
  .customers__cont p {
    font-size: 14px;
  }
}
.customers__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.customers__header input {
  background-color: #F9FBFF;
  border: none;
  border-radius: 5px;
  padding: 5px 20px;
  font-size: 10px;
}
@media screen and (min-width: 768px) {
  .customers__header input {
    padding: 10px 40px;
    font-size: 14px;
  }
}
.customers__search-icon {
  max-width: 12px;
  max-height: 12px;
  position: absolute;
  top: 3px;
  left: 5px;
}
@media screen and (min-width: 768px) {
  .customers__search-icon {
    max-width: 24px;
    max-height: 24px;
  }
}
.customers__search-cont {
  position: relative;
}
.customers__pagination {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (min-width: 768px) {
  .customers__pagination {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: start;
  }
}
.customers__pagination p {
  font-size: 14px;
  color: #B5B7C0;
  margin-bottom: 0;
}
.customers__pagination-numbers {
  display: inline-block;
}
.customers__pagination-numbers a {
  color: black;
  float: left;
  padding: 5px 10px;
  font-size: 10px;
  margin-right: 10px;
  text-decoration: none;
  background-color: #F5F5F5;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .customers__pagination-numbers a {
    padding: 2px 5px;
    font-size: 10px;
    margin-top: 0;
  }
}
@media screen and (min-width: 1200px) {
  .customers__pagination-numbers a {
    padding: 5px 10px;
    font-size: 14px;
  }
}
.customers__pagination-numbers span {
  color: black;
  float: left;
  padding: 5px 10px;
  margin-right: 10px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
}
@media screen and (min-width: 768px) {
  .customers__pagination-numbers span {
    margin-top: 0;
  }
}
.customers__pagination-numbers a.active {
  background-color: #5932EA;
  color: white;
  border-radius: 5px;
}
.customers__pagination-numbers a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}
.customers__pagination-prew {
  -webkit-transform: scaleX(-1);
      -ms-transform: scaleX(-1);
          transform: scaleX(-1);
  width: 10px;
  height: 10px;
  fill: transparent;
  stroke: #000;
}
.customers__pagination-next {
  width: 10px;
  height: 10px;
  fill: transparent;
  stroke: #000;
}
.customers__status-active {
  background-color: rgba(22, 192, 152, 0.4196078431);
  color: #008767;
  border: 1px solid #00B087;
  border-radius: 4px;
  width: 50px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .customers__status-active {
    width: 80px;
  }
}
.customers__status-inactive {
  background-color: #FFC5C5;
  color: #DF0404;
  border: 1px solid #DF0404;
  border-radius: 4px;
  width: 50px;
  text-align: center;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media screen and (min-width: 768px) {
  .customers__status-inactive {
    width: 80px;
  }
}

.table_component {
  overflow-x: scroll;
  width: 100%;
}
@media screen and (min-width: 768px) {
  .table_component {
    overflow: auto;
  }
}

.table_component table {
  border-bottom: 1px solid #EEEEEE;
  height: 100%;
  width: 100%;
  table-layout: auto;
  border-collapse: collapse;
  border-spacing: 1px;
  text-align: left;
  margin-bottom: 30px;
}

.table_component th {
  border-bottom: 1px solid #EEEEEE;
  background-color: #fff;
  color: #B5B7C0;
  font-size: 10px;
  padding: 5px 10px;
  padding-left: 0;
}
@media screen and (min-width: 1200px) {
  .table_component th {
    padding: 20px 40px;
    font-size: 14px;
  }
}

.table_component td {
  border-bottom: 1px solid #EEEEEE;
  background-color: #ffffff;
  color: #000000;
  font-size: 10px;
  padding: 5px 10px;
  padding-left: 0;
  font-weight: 700;
}
@media screen and (min-width: 1200px) {
  .table_component td {
    padding: 20px 40px;
    font-size: 14px;
  }
}/*# sourceMappingURL=main.css.map */