body {
    font-family: 'Roboto', sans-serif;
    font-weight: 400;
    color: #212121;
    background: #FAFBFF;
    font-size: 14px;
    letter-spacing: 0.03em;
    margin: 0;
    padding: 0;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
    margin: 0;
    padding: 0;
}

img {
    display: block;
    max-width: 100%;
    height: auto;
}
